@charset "utf-8";
/* CSS Document */

/*CSS Reset*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0;}
td,th,caption{ font-weight: normal; text-align: left;}
img, fieldset{ border: 0;}
q:before, q:after{ content:"";}
a{	text-decoration:none; color: #fff;}

/*General CSS*/

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-semi';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}

body{
 font-family:'montserrat'!important;
}

/*Header*/

.banner-ini{
	background-image:url('../img/header.png');
	background-size:cover;
	height:100px;
}
.banner-fin{
	background-image:url('../img/franja1.png');
	background-size:cover;
	background-position:bottom;
	height:7vw;
	position:relative;
	top:-39px;
}

.banner-fin:after{
	clear:both;
	content:"";
	display:table;
}

.logomain{
	width:100px;
	margin:1% 0% 1% 5%;
	float:left;
}
.logomain img{
	width:85%;
	display:block;
	vertical-align:middle;
}

/*Admin*/

.admin{
	background-color:#545454;
	font-size:40px;
	color:white;
	padding:10px;
}

.tab2 {
  float: left;
  background-color: #999999;
  width: 20%;
  height: auto;
  font-family:'microsoft sans serif';
}

.tab2:after{
	clear:both;
	display:table;
	content:"";
}

.tabcontent2:after{
	clear:both;
	display:table;
	content:"";
}

/* Style the buttons inside the tab */
.tab2 button {
  display: block;
  background-color: #999999;
  color: white;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size:2.6vh;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #e6e6e6;
  color:#999999;
}

/* Create an active/current "tab button" class */
.tab2 button.active {
  background-color: #e6e6e6;
  color:#999999;
}

/* Style the tab content */
.tabcontent2 {
  float: left;
  width: 80%;
  border-left: none;
  height: auto;
  background-color: #e6e6e6;
  padding-bottom:50px;
}

.tabcontent2 h2{
	color:#95111e;
	text-align:center;
	font-size:3.5vh;
	padding-top:40px;
	font-weight:bold;
	font-family:'microsoft sans serif';
}

.admintable{
	width:90%;
	margin-left:5%;
	margin-top:20px;
}

.titulo{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid black;
	font-weight:bold;
}

td{
	text-align:center;
	border:1px solid black;
}
.actionsCol:hover::after {
  height: 0px;
  width: 0px;
}

.actionsCol:hover {
  background-color: transparent;
}

th:hover::after {
  position: absolute;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.finalActionsCol:hover::after {
  position: absolute;
  top: 0px;
  left: -5000px;
  height: 100%;
  width: 10000px;
  z-index: -1;
}


/*Buttons*/

.fa {
  transition: 0.1s;
  cursor: pointer;
  padding: 0px 1px;
}

.fa-plus-circle {
  color: #008e02;
}

.fa-minus-circle {
  color: #d10000;
}

.fa-pencil-square-o,
.fa-floppy-o {
  color: #0073a8;
}

.fa:hover {
  transition: 0.1s;
  color: #404040;
}


/*Tabla con busqueda*/

.container{
  width: 90%;
  margin: auto;
}
.search-box {
  display: flex;
  position: relative;
  margin: 1em 0;
}

input.table-search-input {
  width: 20%;
  padding: 0.3em;
  border-radius: 5px;
}
.search-box::before {
  content: '';
  position: absolute;
  padding: 0 5px;
  width: 25px;
  height: 100%;
  z-index: 10;
}

.ajustetabla{
	padding:5px 20px;
}

