@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0;}
td,th,caption{ font-weight: normal; text-align: left;}
img, fieldset{ border: 0;}
ol{ padding-left: 1.4em; list-style: decimal;}
ul{ padding-left: 1.4em; list-style: none;}
q:before, q:after{ content:"";}
a{	text-decoration:none!important;}


.confiteriabanner{
	background-image:url('../img/confiteria/banner-comida.jpg');
	width:100%;
	height:auto;
	display:block;
	background-position:center;
	background-size:cover;
}

.logobanner{
	width:100%;
}

.imglogobanner{
	width:250px;
	margin-left:26%;
	padding-top:90px;
	margin-bottom:30px;
}

.textconfi {
	color: #f2f2f2;
    font-size: 45px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
	margin-left:20%;
}
.subtextconfi {
	color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    width: 50%;
    font-weight: 400;
	margin-left:20%;
	padding-bottom:150px;
}

.cintatituloconfi{
	background-image: url('../img/index/cinta-titulo.png');
    background-size: contain;
    height: 210px;
    width: 750px;
    background-repeat: no-repeat;
    margin: auto;
}

.cintatituloconfi h1{
	color: white;
	font-size:27px;
	text-align:center;
	padding:45px 0;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:600;
}

.combosprin h2{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 45px;
    padding: 8px 12px;
    font-weight: 600;
	color:#a6242a;
	margin-left:10%;
}
/*Combos*/

.slideshow-container5 {
  max-width: 90%;
  position: relative;
  margin: auto;
  padding-bottom:100px;
  height:500px;
}

.prev5, .next5 {
  cursor: pointer;
  position: absolute;
  top: 38%;
  width: auto;
  padding: 25px;
  font-weight:bold;
  font-size: 50px;
  color: transparent;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.prev5{
    background-image: url(../img/index/prev.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.next5 {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: url(../img/index/next.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*Fin slideshow combos*/
.combossec{
	width:80%;
	display:flex;
	margin:auto;
}
.combos{
	width:25%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
}
.combos:hover{
	border:4px solid red;
	transform:scale(1.2,1.2);
}
.combos img{
	width:90%;
	height:350px;
	cursor:pointer;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.descripcioncombos{
	width:100%;
	margin-top:-120px;
}

.titulocombos{
	display:inline-flex;
	width:100%;
}

.preciocombo{
	border-radius:50px;
	background-color:#a6242a;
	color:white;
	font-weight:bold;
	padding: 13px 7px 10px;
	height:23px;
	width:30px;
	text-align:center;
}

.textcombos {
	color: #a6242a;
    font-size: 25px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
	margin-left:10%;
}
.subtextcombos {
	color: #a6242a;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 400;
	padding-bottom:15px;
	margin-left:10%;
	height:70px;
	text-transform:uppercase;
}

/*Cantidad*/
span {cursor:pointer; }

.number{
	margin-top:10px;
	margin-left:29%;
	margin-bottom:15px;
}
.minus, .plus{
	width:25px;
	height:20px;
    display: inline-block;
	vertical-align: middle;
    text-align: center;
	font-weight:bold;
	color:grey;
}
.input2{
	height:20px;
    width: 80px;
	color:grey;
	font-weight:bold;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
	border-radius:15px;
	border:none;
	background-color:rgba(202,202,202,0.3);
}

.combos h3{
	color:grey;
	font-weight:bold;
	font-size:12px;
	text-align:center;
}

.pedido{
	cursor:pointer;
	background-color:#ad1218;
	color:white;
	border-radius:20px;
	border:none;
	text-transform:uppercase;
	font-size:10px;
	padding:5px 7px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

/*Slideshow Gaseosas*/

.gaseosasprin h2{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 45px;
    padding: 8px 12px;
    font-weight: 600;
	color:#a6242a;
	margin-left:10%;
	margin-top:40px;
}

.slideshow-container6 {
  max-width: 90%;
  position: relative;
  margin: auto;
  padding-bottom:100px;
  height:500px;
}

.prev6, .next6 {
  cursor: pointer;
  position: absolute;
  top: 38%;
  width: auto;
  padding: 25px;
  font-weight:bold;
  font-size: 50px;
  color: transparent;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.prev6{
    background-image: url(../img/index/prev.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.next6 {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: url(../img/index/next.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bebidassec{
	width:80%;
	display:flex;
	margin:auto;
}
.bebidas{
	width:25%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	background-size:contain;
	background-repeat:no-repeat;
	display:block;
}
.bebidas:hover{
	border:4px solid red;
	transform:scale(1.2,1.2);
}

.bebidas h3{
	color:grey;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	margin-top:30px;
}

.bebidas img{
	width:90%;
	height:350px;
	cursor:pointer;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.textbebidas {
	color: #a6242a;
    font-size: 25px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
	margin-left:18%;
	height:50PX;
}

/*Slideshow a la Carta*/

.slideshow-container7 {
  max-width: 90%;
  position: relative;
  margin: auto;
  padding-bottom:100px;
  height:500px;
}

.prev7, .next7 {
  cursor: pointer;
  position: absolute;
  top: 38%;
  width: auto;
  padding: 25px;
  font-weight:bold;
  font-size: 50px;
  color: transparent;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.prev7{
    background-image: url(../img/index/prev.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.next7 {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: url(../img/index/next.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/*Contacto*/

.cintatitulocontacto{
	background-image: url('../img/index/cinta-titulo.png');
    background-size: contain;
    height: 210px;
    width: 750px;
    background-repeat: no-repeat;
    margin: auto;
}

.cintatitulocontacto h1{
	color: white;
	font-size:38px;
	text-align:center;
	padding:54px 0;
	text-transform:uppercase;
	letter-spacing:4px;
	font-weight:600;
}

.contactoprin{
	width:100%;
	display:inline-flex;
	margin-top:50PX;
}

.contactosec{
	width:40%;
}

.contactoter{
	width:60%;
}

.contactosec2{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#f7f7f7;
	padding-bottom:70px;
}

.contactoter2{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:2px solid red;
}

.contactosec2 h2{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 45px;
    padding-top: 50px;
    font-weight: 600;
	color:#a6242a;
	text-align:center;
	padding-bottom:40px;
}

.mapa{
	width:100%;
}

.contactosec3{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.contactosec3 img{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:170px;
}

.contactoter3{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#f7f7f7;
	height:730px;
	margin-bottom:70px;
}

.contactos{
	display:inline-flex;
	width:100%;
}

.contactos img{
	width:40px;
	height:38px;
	margin-top:5px;
	margin-left:5%;
}

.contactos p{
	font-size:25px;
	margin-left:3%;
	margin-top:5px;
	color:#666666;
}

.contactoter3 h2{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 27px;
    padding-top: 50px;
    font-weight: 600;
	color:#a6242a;
	text-align:center;
	padding-bottom:20px;
}

.form{
	padding:20px;
	padding-top:20px;
	margin-left:13.5%;
	height:auto;
}

label{
	font-size: 20px;
	color: #fff;
	line-height:2;
	color:#666666;
	font-weight:bold;
}

.infogeneral{
	border: 1px solid #a6242a;
	background-color:#ffffff;
	color: #000;
	height:30px;
	width:65%;;

}

.mensaje{
	height:250px;
	width:82.5%;;
	font-size: 15px;
	border: 1px solid #a6242a;
}

.submit2{
	background-color:#ba1c24;
	border: 1px solid transparent;
	padding:3px 30px;
	color:#fff;
	font-size:24px;
	margin-left:65%;
	cursor:pointer;
	margin-top:50px;
	border-radius:15px;
	font-weight:bold;
}

.left{
  float:left;
  width:50%;
}

.left2{
  float:left;
  width:100%;
}

.left:after{
	clear:both;
	content:"";
	display:table;
}

.left2:after{
	clear:both;
	content:"";
	display:table;
}

/*Preguntas Frecuentes*/

.cintatitulopreguntas{
	background-image: url('../img/index/cinta-titulo.png');
    background-size: contain;
    height: 210px;
    width: 750px;
    background-repeat: no-repeat;
    margin: auto;
}

.cintatitulopreguntas h1{
	color: white;
	font-size:32px;
	text-align:center;
	padding:57px 0;
	text-transform:uppercase;
	letter-spacing:4px;
	font-weight:600;
}

.pregtxt{
	margin-bottom:60px;
}

.pregtxt h2{
	text-transform:uppercase;
	letter-spacing:3px;
	font-size: 40px;
    font-weight: 600;
	color:#a6242a;
	padding-top:60px;
	padding-bottom:15px;
	margin-left:5%;
}

.pregtxt p{
	margin-left:5%;
	margin-right:5%;
	font-size:22px;
	padding-top:30px;
	color:#666666;
}

.lineaterm{
	background-color:#a6242a;
	height:5px;
	width:22%;
	margin-left:4%;
}

/*Compra Boletas*/

.boletasprin{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	box-sizing: border-box;
	width:90%;
}

.boletassec{
	box-sizing: border-box;
}

.boletassec:after{
	clear:both;
	content:"";
	display:table;
}

.active2:hover{
	background-color: #717171;
	border-radius: 0px!important;
}

.active2{
	background-color:#a6242a;
}

.list-group-item-heading{
	margin-top: 0;
    margin-bottom: 5px;
	text-transform:uppercase;
	font-size:28px;
	padding-top:5px;
}

.col-md-12{
	width: 100%;
	float:left;
	position: relative;
}

.well{
	min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
   background-color:#ffffff!important;
    border:none!important;
    border-radius: 0px!important;
    box-shadow:none!important;
}

.text-center{
	text-align: center;
}

.btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.btn-primary {
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

btn-lg{
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.thumbnail{
	border-bottom: 2px solid #a6242a!important;
	border-radius:0px!important;
	border-top:none!important;
	border-right:none!important;
	border-left:none!important;
	background-color:#f0f0f0!important;
	color:#787878!important;
}

.nav li a{
	color:#787878;
}

.nav-pills li a {
    border-radius: 0px!important;
}

.active2 a{
	color:#ffffff!important;
}

.pasosprin{
	width:100%;
	display:inline-flex;
	margin-top:50px;
}

.pasos{
	width:40%;
	background-color:#f0f0f0;
}

.comprapeli{
	width:60%;
}

/*Prueba*/

#tabui {
  padding: 0px;
  width:60%;
  margin-left:25%;
}

ul#tabs {
  margin: 0 auto;
  padding: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  font-size:20px;
  background-color:#f0f0f0;
  border-bottom:3px solid #a6242a;
}

ul#tabs::-webkit-scrollbar {
  width: 0 !important;
  background-color:#ffffff;
}

ul#tabs li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:5px;
  padding-bottom:5px;
  margin-right: 0px!important;
  cursor: pointer;
  color:#777777;
  border-right:2px solid #b8b8b8;
  border-left:2px solid #b8b8b8;

}
ul#tabs li:hover{
  color:#333333;
}

ul#tabs li.active3 {
  color:#a6242a;
  background-color:#cacaca;
}

#tabcontent {
  font-size: 18px;
  height: auto;
  overflow: auto;
}

.foo {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.pasos h3{
	color:#777777;
	text-align:center;
	padding-top:20px;
	font-size:40px;
}

.pasos p{
	color:#777777;
	text-align:left;
	padding-top:30px;
	font-size:18px;
	margin-left:7%;
	margin-right:5%;
	padding-bottom:50px;
}

.seleccionpeliculas{
	width:25%;
}

.seleccion{
	display:block;
}

.seleccion2{
	display:inline-flex;
	margin-top:30px;
}

.seleccion2:hover{
	background-color:#f0f0f0;
	border:2px solid #a6242a;
	transform:scale(0.99,0.99);
}

.seleccion h2{
	text-align:left;
	margin-left:1%;
	text-transform:uppercase;
	font-size:28px;
	color:#777777;
	padding-top:20px;
}

.funciones{
	font-size:23px;
}

.disponibilidad{
	font-size:18px;
	color:#a6242a;
}