@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote{
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}
table{ border-collapse: collapse; border-spacing: 0;}
td,th,caption{ font-weight: normal; text-align: left;}
img, fieldset{ border: 0;}
ol{ padding-left: 1.4em; list-style: decimal;}
ul{ padding-left: 1.4em; list-style:none; text-decoration:none;}
q:before, q:after{ content:"";}
a{	text-decoration:none;}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'montserrat-semi';
  src: url('../fonts/Montserrat-SemiBold.ttf');
}

body{
 font-family:'montserrat';
}

.banner-ini{
	background-image:url('../img/header.png');
	background-size:cover;
	height:200px;
}
.banner-fin{
	background-image:url('../img/franja1.png');
	background-size:cover;
	background-position:bottom;
	height:7vw;
	position:relative;
	top:-39px;
}

.banner-fin:after{
	clear:both;
	content:"";
	display:table;
}

.logomain{
	width:200px;
	margin:1% 0% 1% 5%;
	float:left;
}
.logomain img{
	width:85%;
	display:block;
	vertical-align:middle;
}

/*Menú*/
.topnav {
  overflow: hidden;
  background-color: transparent;
  float:left;
  width:50%;
  height:150px;
  margin-left:5%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 90px 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight:600;
}

.topnav .icon {
  display: none;
}
.toplinks{
	float:left;
	display:inline-flex;
	margin-top:1%;
}
.comprar-blt{
	background-image: linear-gradient(to right,#ffb206,#ffb206,#e77806);
	width:auto;
	height:45px;
	border-radius:20px;
	margin-top:5%;
}
.comprar-blt p{
	font-family:'montserrat-semi';
	color:black;
	padding:12px 24px;
	font-size:16px;
	text-align:center;
	text-transform: uppercase;
}
.redesind{
	margin-left:7px;
}
.redesind img{
	width: 25px;
    height: auto;
    padding: 22px 2px;
}

.mySlides{
	display: none;
	width:100%;
	}
.mySlides img{
	position:relative;
	top:-35px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
}

.slideshow-container:after{
	clear:both;
	content:"";
	display:table;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: 200;
  font-size: 42px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    top: 32%;
    left: 10%;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
}
.subtext {
	color: #f2f2f2;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    top: 41%;
    left: 10%;
    width: 50%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
}
.subtext2 {
	color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    position: absolute;
    top: 51%;
    left: 10%;
    width: 50%;
    font-weight: 400;
}


/* The dots/bullets/indicators */
.dots{
	text-align:center;
	z-index: 100;
    position: absolute;
    bottom: 7%;
    left: 50%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Index Películas*/
.cintatitulo{
	background-image: url('../img/index/cinta-titulo.png');
    background-size: contain;
    height: 180px;
    width: 750px;
    background-repeat: no-repeat;
    margin: auto;
}

.cintatitulo h1{
	color: white;
	font-size:38px;
	text-align:center;
	padding:52px 0;
	text-transform:uppercase;
	letter-spacing:3px;
	font-weight:600;
}
/*Slide Películas*/
.slideshow-container2 {
  max-width: 90%;
  position: relative;
  margin: auto;
  padding-bottom:100px;
}
.peliculassec{
	width:90%;
	display:flex;
	margin:auto;
}
.peliculas{
	width:25%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	border-radius:10px;
	background-image:url('../img/index/marco1.png');
	background-size:contain;
	background-repeat:no-repeat;
	color: transparent;	
}
.peliculas:hover{
	background-image:url('../img/index/marco2.png');
	background-size:contain;
	background-repeat:no-repeat;
	transform:scale(1.2,1.2);
	color: black;	
}
.peliculas img{
	width:100%;
	cursor:pointer;
	z-index:1;
}
.peliculas img:hover{
	filter: opacity(13%);
}
.horarios{
	position: relative;
    text-transform: uppercase;
    bottom: 75px;
    width: 88%;
    margin: auto;
    height: auto;
	vertical-align:bottom;
	font-weight:bold;
	font-size:16px;
    z-index: -1;
    opacity: 100%;
	}
.horarios h2{
	font-weight:bold;
	padding:0px 15px;
}
.horarios p{
	font-weight:500;
	padding:2px 15px;
}
.diapeli{
	height:50px;
	background-image:linear-gradient(#7e0e1c, #e81c25, #7e0e1c);
	width:100%;
	opacity:100%;
}
.diapeli p{
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding:5% 0px;
	font-weight:600;
}
.nombrepeli{
	position:absolute;
	top:-65px;
}
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 44%;
  width: auto;
  padding: 25px;
  font-weight:bold;
  font-size: 50px;
  color: transparent;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.prev2{
    background-image: url(../img/index/prev.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: url(../img/index/next.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.publicidad img{
	width:100%;
}

/*Footer*/
footer{
	background-image:linear-gradient(to bottom, #e91b25, #150819);
	width:100%;
	height:300px;
}
.footerdiv{
	width:100%;
}
.footerdiv:after{
	clear:both;
	content:"";
	display:table;
}
.colfooter{
	width:25%;
	float:left;
}
.colfooter ul{
		margin:8%;
}

.colfooter ul a{
	color:#fff;
	text-transform:uppercase;
}
.colfooter ul a li{
	padding:10px 0px;
}
.botcentral{
	margin-top:30% !important;
}


